:root {
    --space-angle: 0deg;
    --ani-time: 5s;
}

body {
    margin: 0;
}

#info {
    position: absolute;
    top: 0;
    right: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#container>#sky {
    height: 100%;
    width: 100%;
    background-color: #9debff;
    filter: brightness(1);
    transition: filter var(--ani-time);
}

#container>#backdrop {
    display: block;
    height: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    filter: brightness(0.1);
    transition: all var(--ani-time);
}

#cloudbox {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cloudbox>img {

    transition: all 2s;
    transform: translateX(120vw);
    border-left: 5px solid black;
    border-top: 5px solid black;
}

.hiddencloud {
    display: none;
    
}

#sunmoonbox {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: rotate(var(--space-angle)) translate(-50%, -50%);
    height: 120vw;
    width: 120vw;

    max-height: 170vh;
    max-width: 170vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform-origin: top left;
}

#sun {
    margin-top: 20px;
    transform: rotate(180deg);
    filter: drop-shadow(0px 0px 120px rgb(247, 251, 0));
}

#moon {
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 40px rgba(254, 255, 206, 0.507));
}

#rainbox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height : 85vh;

}

#raindrop {
    height: 60px;
    animation: rain 2s infinite;
    position: absolute;
}

@keyframes rain {
    from {transform: translate(0, 0)}
    to {transform: translate(20px, 100vh);}
}
